{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Rust::Asg::UnitTests",
      "type": "cppdbg",
      "request": "launch",
      "MIMode": "gdb",
      "miDebuggerPath": "rust-gdb",
      "environment": [],
      "program": "cargo",
      "args": "test",
      "externalConsole": false,
      "dap-compilation": "cargo test build",
      "dap-compilation-dir": "${workspaceFolder}"
    }
  ]
}
